.container {
  background: #bfe3ff;
  width: 100vw;
  min-width: 400px;
  height: 100vh;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
}
