.layout {
  background: #cae9ff;
  height: 100vh;
  min-width: 990px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.inner-layout {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 2.125rem;
  text-align: center;
  line-height: 1.6;
  font-family: inherit;
  margin-bottom: 20px;
}
