.container {
  background: white;
  width: 75vw;
  border-radius: 20px;
  padding: 20px;
}

.title {
  color: gray;
  font-size: 12px;
}

.listItem {
  display: flex;
  gap: 10px;
  padding-top: 15px;
  color: gray;
  font-size: 18px;
}
