.container {
  background: white;
  width: 500px;
  border-radius: 30px;
}

[data-focus='true'] {
  background-color: #cecece;
}

.container div {
  padding: 20px 30px;
}

.container #recommand {
  font-size: 0.5em;
}
